# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Jupyter Notebook
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Environment variables
.env

# Generated models
*.pth
*.pt
*.h5

# Other
setting.ipynb
welcome.txt
2*노트정리.txt
*.pdf
python basic1 뒷부분 예제.ipynb
*.csv
Python/Python ML,DL/colab/